name: Create Pull Request for filebrowser
on:
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write
jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - name: Create pull request
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          # test 1
          gh api repos/LibreELEC/LibreELEC.tv
          # test 2
          gh api repos/LibreELEC/pr-actions
          # create PR
          gh pr create \
            --repo LibreELEC/LibreELEC.tv \
            --head LibreELEC/pr-actions:filebrowser-2.53.1 \
            --base master \
            --title "filebrowser: update to 2.53.1" \
            --body "Automated PR created by GitHub App."
